.onestep .app-support:after,.onestep .describe:after,.onestep .scenes:after,.onestep .white-part:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #f5f5f5;
  background-image: linear-gradient(90deg,#fff,#e0e0e0 50%,#fff);
  cursor: default
}

.onestep .describe .content p {
  margin-bottom: 15px
}

.onestep .describe {
  background: #f5f5f5 url(//static.smartisanos.cn/os/assets/images/top-bg.2153e9dd20fc4446ecf69486d2004061.jpg) no-repeat top;
  padding: 80px 0 200px;
  text-align: center
}

.onestep .describe .content {
  background: url(//static.smartisanos.cn/os/assets/images/one-step-icon.46021e314c85e1427f06f78162e3189f.png) no-repeat top;
  padding-top: 230px
}

.onestep .describe .open-video-img {
  height: 319px;
  cursor: pointer
}

.onestep .describe .video-tips {
  margin-top: -45px
}

.onestep .describe .content h3 {
  margin-bottom: 23px
}

.onestep .describe .content h4 {
  font-size: 24px;
  position: relative;
  width: 216px;
  margin: 0 auto 30px
}

.onestep .describe .content h4:after,.onestep .describe .content h4:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0,0,0,.3);
  position: absolute;
  top: 10px;
  left: 0
}

.onestep .describe .content h4:after {
  left: 210px
}

.onestep .scenes {
  background: #fafafa;
  padding-bottom: 200px
}

.onestep .scenes .white-part {
  height: 857px;
  padding-top: 200px;
  background: #fff;
  position: relative
}

.onestep .scenes .img-gallery {
  height: 845px;
  width: 470px;
  margin: 60px auto 0;
  padding-bottom: 200px
}

.onestep .scenes ul {
  height: 845px;
  width: 2820px;
  transition: -webkit-transform 574ms cubic-bezier(.316504,.0988509,.34,1) 0s;
  transition: transform 574ms cubic-bezier(.316504,.0988509,.34,1) 0s;
  transition: transform 574ms cubic-bezier(.316504,.0988509,.34,1) 0s,-webkit-transform 574ms cubic-bezier(.316504,.0988509,.34,1) 0s
}

.onestep .scenes ul li {
  height: 968px;
  width: 470px;
  background: url(//static.smartisanos.cn/os/assets/images/phone.ad4d52ea38809f8f3126808941f6fc56.png) no-repeat;
  float: left;
  opacity: .1;
  position: relative;
  transition: opacity 574ms ease-in-out
}

.onestep .scenes ul li.active {
  opacity: 1
}

.onestep .scenes ul li .video-inner {
  width: 326px;
  height: 580px;
  position: absolute;
  top: 88px;
  left: 72px;
  cursor: pointer
}

.onestep .scenes ul li img,.onestep .scenes ul li video {
  width: 326px;
  height: 579px;
  position: absolute;
  top: 0;
  left: 0
}

.onestep .scenes ul li .sub-content {
  padding-top: 125px;
  position: absolute;
  left: 0;
  right: 0;
  top: 728px;
  opacity: 0;
  transition: opacity .1s ease-in-out
}

.onestep .scenes ul li.active .sub-content {
  opacity: 1;
  transition: opacity .5s ease-in-out .3s
}

.onestep .scenes ul li.switch-apps .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/secen-switch.223716b3a7dd7a5769cf6ee9029fc0f5.png) no-repeat top
}

.onestep .scenes ul li.share-number .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/scene-number.e984c0d70aaf961d3083b6fd81211267.png) no-repeat top
}

.onestep .scenes ul li.send-ding .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/scene-contact.546efcab55fa6043b6cba98bb6edce37.png) no-repeat top
}

.onestep .scenes ul li.mail .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/scene-mail.986783278fc2eaaaea51b4e831523791.png) no-repeat top
}

.onestep .scenes ul li.send-wechat .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/scene-photo.b5dbb01527f90e8a4da7efb0b66a0cae.png) no-repeat top
}

.onestep .scenes ul li.search-img .sub-content {
  background: url(//static.smartisanos.cn/os/assets/images/scene-search.b2b50bd6e3ba00b81ebaee26db363b2e.png) no-repeat top
}

.onestep .scenes ul li h5 {
  font-size: 24px;
  margin-bottom: 20px
}

.onestep .scenes .loop-dot {
  height: 14px;
  width: 150px;
  margin: 0 auto;
  position: relative
}

.onestep .app-support {
  background: #fafafa url(//static.smartisanos.cn/os/assets/images/animation-bg.7eff565fee9d2f4299bb65d6566dc916.png) no-repeat top;
  padding-bottom: 200px
}

.onestep .app-support .container {
  padding: 200px 0 100px
}

.onestep .app-support .button-view {
  width: 510px;
  margin: 0 auto;
  height: 53px
}

.onestep .app-support .content a {
  float: left;
  margin-top: 10px;
  color: #fff;
  padding: 0 20px
}

.blue-btn,.green-btn {
  width: 200px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 53px;
  display: block;
  color: #fff;
  text-align: center
}

.green-btn {
  background-color: #8bbf43;
  background: linear-gradient(#8bbf43,#7fb63a);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),0 1px 3px rgba(106,168,27,.6)
}

.green-btn:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),0 1px 8px rgba(106,168,27,.6),0 10px 30px rgba(106,168,27,.3)
}

.blue-btn {
  background-color: #6f97f0;
  background: linear-gradient(#678ee7,#5179e1);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),0 1px 3px rgba(81,121,225,.6);
  margin-left: 30px
}

.blue-btn:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),0 3px 8px rgba(81,121,225,.6),0 10px 30px rgba(81,121,225,.3)
}

.onestep .app-support .animation-view .apps-view {
  height: 386px;
  width: 13432px
}

.onestep .app-support .apps-view ul {
  float: left;
  height: 440px;
  overflow: hidden;
  width: 6716px
}

.onestep .app-support .apps-view ul.apps-before {
  -webkit-animation: appsBeforeMove 500s linear infinite;
  animation: appsBeforeMove 500s linear infinite
}

.onestep .app-support .apps-view ul.apps-after {
  -webkit-animation: appsAfterMove 500s linear infinite;
  animation: appsAfterMove 500s linear infinite;
  -webkit-transform: translate3d(-104px,0,0);
  transform: translate3d(-104px,0,0)
}

/* 鼠标悬停停止动画 */
.onestep .app-support .apps-view ul.paused,.onestep .app-support .apps-view:hover ul {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
/* 开启动画 */
.onestep .app-support .apps-view ul.running {
  -webkit-animation-play-state: running;
  animation-play-state: running
}

.onestep .app-support .apps-view ul li {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
  float: left;
  height: 337px;
  margin: 0 26px;
  padding: 47px 30px 0;
  width: 178px;
  position: relative;
  transition: box-shadow .3s
}

.onestep .app-support .apps-view ul li:hover {
  box-shadow: 0 20px 50px rgba(0,0,0,.1)
}

.onestep .app-support .apps-view ul li .content .img-view {
  height: 96px
}

.onestep .app-support .apps-view ul li .content img {
  -webkit-filter: drop-shadow(0 2px 5px rgba(0,0,0,.2));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .2))
}

.onestep .app-support .apps-view ul li .content {
  text-align: center
}

.onestep .app-support .apps-view ul li .content h5 {
  font-size: 18px;
  margin: 20px 0 15px
}

.onestep .app-support .apps-view ul li .content p {
  text-align: left;
  line-height: 1.5;
  font-size: 14px
}

.onestep .app-support .apps-view ul li .button {
  background: linear-gradient(hsla(0,0%,100%,.02),rgba(0,0,0,.02));
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  height: 28px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 88px;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0
}

.onestep .app-support .animation-view figure {
  position: relative;
  height: 424px;
  margin-top: 90px
}

.onestep .app-support .animation-view figure:after,.onestep .app-support .animation-view figure:before {
  position: absolute;
  animation: appsIconBeforeMove 240s linear infinite;
  background: url(//static.smartisanos.cn/os/assets/images/icons.dcef4a16542e88e1bef6eeadd794279d.png) repeat-x;
  content: "";
  width: 2339px;
  height: 424px;
  left: 0;
  top: 0
}

.onestep .app-support .animation-view figure:after {
  -webkit-animation: appsIconAfterMove 240s linear infinite;
  animation: appsIconAfterMove 240s linear infinite;
  left: -2339px
}


@keyframes appsIconBeforeMove {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  50% {
    -webkit-transform: translate3d(2339px,0,0);
    transform: translate3d(2339px,0,0)
  }

  50.001% {
    -webkit-transform: translate3d(-2339px,0,0);
    transform: translate3d(-2339px,0,0)
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}


@keyframes appsIconAfterMove {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  to {
    -webkit-transform: translate3d(4678px,0,0);
    transform: translate3d(4678px,0,0)
  }
}


@keyframes appsBeforeMove {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  50% {
    -webkit-transform: translate3d(-6716px,0,0);
    transform: translate3d(-6716px,0,0)
  }

  50.001% {
    -webkit-transform: translate3d(6716px,0,0);
    transform: translate3d(6716px,0,0)
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}


@keyframes appsAfterMove {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  to {
    -webkit-transform: translate3d(-13432px,0,0);
    transform: translate3d(-13432px,0,0)
  }
}

.onestep .comments {
  text-align: center;
  background: #fff;
  padding: 185px 0 200px
}

.onestep .comments img {
  display: block;
  margin: 0 auto;
  width: 1232px
}

.onestep .app-box {
  position: absolute;
  top: 100px;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center
}

.onestep .app-box .img-inner {
  margin: 0 auto;
  height: 100%;
  position: relative
}

.onestep .app-box img {
  height: 100%
}

.onestep .close-box {
  width: 68px;
  height: 70px;
  background: url(//static.smartisanos.cn/os/assets/images/close-btn.1976ed371e8dee8b5a11939e54d35808.png) no-repeat;
  position: absolute;
  top: -32px;
  right: -28px
}
