.pagination {
  list-style: none;
  width: 400px;
  height: 40px;
  margin: 300px auto;
  font-size: 0;
  /*去除行内元素的间距*/
}
.pagination li {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}
.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  border: 2px solid #3ebd6f;
  text-decoration: none;
  color: #467812;
  font-size: 16px;
  /*修复行内元素之间空隙间隔*/
}
.pagination li a:hover {
  background-color: #3ebd6f;
}
